@import '../../styles/constants.scss';

.education {
    padding: 0 50px;
}

.education__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $color-background;
    border-radius: 15px;
    margin-bottom: 15px;

    >p {
        padding-left: 10px;
        font-size: 2rem;
    }
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 150px;
}

.book__image {
    width: 100px;
    padding-top: 15px;
}

.education__description {
    width: 82%;
}