@import '../../styles/constants.scss';

.app {
  text-align: center;
  background-color: $color-background;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: $color-text;

  a {
    text-decoration: none;
    color: $color-text;
  }
}

.wrapper {
  width: 1024px;
  background-color: $color-background-light;
}